<a id="popup__toggle" onclick="return false;">
    <div class="circlephone" style="transform-origin: center;"></div>
    <div class="circle-fill" style="transform-origin: center;"></div>
    <div class="img-circle" style="transform-origin: center;">
        <div class="img-circleblock" style="transform-origin: center;"></div>
    </div>
</a>
<!--[if lt IE 9]><div class="popup__overlay popup__overlay_ie"></div><![endif]-->
<div id="popup__overlay">
    <div class="popup">
        <div id="popup__close" >X</div>
        <p>Оставьте Ваш номер телефона.<br>Мы обязательно Вам перезвоним!</p>
        {% include callback_form.html %}
    </div>
    <!--[if lt IE 9]><div class="popup__valignfix"></div><![endif]-->
    <script>
        var popupBtn = document.getElementById('popup__toggle');
        var popupWin = document.getElementById('popup__overlay');
        var popupClose = document.getElementById('popup__close');
        popupBtn.onclick = function() {popupWin.style.display = "block";};
        popupClose.onclick = function() {popupWin.style.display = "none";};
    </script>
</div>