<!-- FACEBOOK MESSENGER CHAT BOX -->
<script>
    // We create the DIV dynamically to work correctly with Tag Manager
    var chatDiv = document.createElement('div');
    chatDiv.className = 'fb-customerchat';
    chatDiv.setAttribute('page_id', '363826764274862');// Facebook Page ID goes here
    chatDiv.setAttribute('theme_color', '#3399cc');
    chatDiv.setAttribute('logged_in_greeting', 'Здравствуйте! Чем мы можем вам помочь?');
    chatDiv.setAttribute('logged_out_greeting', 'Спасибо! Заходите ещё!');
    document.body.appendChild(chatDiv);

    // Initialise Facebook SDK
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v3.3'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ru_RU/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>