<footer>
    <div id="contact" class="footer_wrapper">
        <div class="contacts footer_cell">
            <div class="footer_logo"><a href="#"><img src="/images/logo_new_colors_noUrl.png"/></a></div>
            <p class="footer_phone">+38(068)0854088</p>
            <p class="footer_mail">kotelco@ukr.net</p>
            <ul class="social">
                <li><a href="https://www.facebook.com"><img src="/images/icon-facebook.png"
                                                            alt="Наша страничка в Фейсбук"></a></li>
                <li><a href="https://www.instagram.com"><img src="/images/icon-instagram.png"
                                                             alt="Наша страничка в Инстаграм"></a></li>
                <li><a href="https://www.facebook.com"><img src="/images/icon-facebook-messenger.png"
                                                            alt="Нашишите нам в Фейсбук мессенджер"></a></li>
                <li><a href="viber://chat?number=380676722222"><img src="/images/icon-viber.png" alt="Нашишите нам в Вайбер" title="Нашишите нам в Вайбер"></a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="footer_menu">
                <li><a href="#">Главная</a></li>
                <li><a href="">Доставка</a></li>
                <li><a href="">Сервис</a></li>
                <li><a href="">Отзывы</a></li>
                <li><a href="">Статьи</a></li>
            </ul>

        </div>
        <div class="footer_form footer_cell">
            <p>Хотите быть в курсе последних событий? Подпишитесь! Мы не отправляем спам.</p>
            {% include footer_mc_form.html %}
        </div>
    </div>
    <p class="copy">Авторские права © Котел.Ко 2018</p>

</footer>