<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='https://kotel.co.ua/thanks';}"></iframe>
<form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSfQ7PeesM8N6LEPKgQMDrOOKVDx9dgxx787aqF_PKYV18ys9Q/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">

    <label>Модель котла</label>
    <input type="text"
           autocomplete="off"
           tabindex="0"
           aria-label="Модель котла"
           aria-describedby="i.desc.1675258574 i.err.1675258574"
           name="entry.665681292"
           value=""
           required=""
           dir="auto"
           data-initial-dir="auto"
           data-initial-value="Например АОТВ-22"> />
    <textarea
            data-rows="1" tabindex="0" aria-label="Ваш отзыв" required=""
            name="entry.326955045" dir="auto" data-initial-dir="auto"
            data-initial-value="Пользуемся котлом уже ... года. Площадь помещения ... кв.м. (Далее ваш честный отзыв - экономичность, удобство, плюсы и минусы и так далее...)"
            aria-describedby="i.desc.1171436624 i.err.1171436624" ></textarea>


    <label>Имя</label>
    <input type="text"
           autocomplete="off"
           tabindex="0"
           aria-label="Имя"
           aria-describedby="i.desc.1401883316 i.err.1401883316"
           name="entry.485428648"
           value="Например Джон"
           required=""
           dir="auto"
           data-initial-dir="auto" />

    <label>Email</label>
    <input type="email"
           autocomplete="off"
           tabindex="0"
           aria-label="Адрес электронной почты (не обязательно)"
           aria-describedby="i.desc.172751659 i.err.172751659"
           name="entry.879531967"
           value="vasha_pochta@mail.com"
           dir="auto"
           data-initial-dir="auto"
           data-initial-value="vasha_pochta@mail.com"
           required>

    <input type="tel"
           autocomplete="off"
           tabindex="0"
           aria-label="Телефон (не обязательно)"
           aria-describedby="i.desc.850478162 i.err.850478162"
           name="entry.270430022"
           value="Например (067)-1234567"
           dir="auto"
           data-initial-dir="auto"
           data-initial-value="Например (067)-1234567">


    <input type="submit" value="Send" />

    <input type="hidden" name="fvv" value="1"><input type="hidden" name="draftResponse"
                                                     value="[[[null,665681292,[&quot;Например АОТВ-22&quot;] ,0] ,[null,326955045,[&quot;Пользуемся котлом уже ... года. Площадь помещения ... кв.м. (Далее ваш честный отзыв - экономичность, удобство, плюсы и минусы и так далее...)&quot;] ,0] ,[null,485428648,[&quot;Например Джон&quot;] ,0] ,[null,879531967,[&quot;vasha_pochta@mail.com&quot;] ,0] ,[null,270430022,[&quot;Например (067)-1234567&quot;] ,0] ] ,null,&quot;-1139248901746731423&quot;]"><input
        type="hidden" name="pageHistory" value="0"><input type="hidden" name="fbzx"
                                                          value="-1139248901746731423">
</form>