<section class="wrap_feedback_form clear">
    <h1>Оставьте свой отзыв о нашей продукции.<br>Мы обязательно его опубликуем</h1>

    <script type="text/javascript">var submitted = false;</script>

<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='https://kotel.co.ua/thanks';}"></iframe>
<form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSfQ7PeesM8N6LEPKgQMDrOOKVDx9dgxx787aqF_PKYV18ys9Q/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">

    <div class="wrap_all_inputs clear">
        <div class="wrap_input"><input type="text"
                                       autocomplete="off"
                                       placeholder="Модель котла"
                                       tabindex="0"
                                       name="entry.665681292"
                                       value=""
                                       required
                                       dir="auto"
                                       data-initial-dir="auto"/>
        </div>


        <div class="wrap_input"><input type="text"
                                       autocomplete="off"
                                       tabindex="0"
                                       aria-label="Имя"
                                       placeholder="Ваше имя"
                                       aria-describedby="i.desc.1401883316 i.err.1401883316"
                                       name="entry.485428648"
                                       value=""
                                       required
                                       dir="auto"
                                       data-initial-dir="auto"/>
        </div>

        <div class="wrap_input"><input type="email"
                                       autocomplete="off"
                                       tabindex="0"
                                       aria-label="Адрес электронной почты (не обязательно)"
                                       placeholder="E-mail (не обязательно)"
                                       name="entry.879531967"
                                       value=""
                                       dir="auto"
                                       data-initial-dir="auto"
                                       data-initial-value="vasha_pochta@mail.com"
                                       ></div>

        <div class="wrap_input"><input type="tel"
                                       autocomplete="off"
                                       tabindex="0"
                                       aria-label="Телефон (не обязательно)"
                                       placeholder="Телефон (не обязательно)"
                                       aria-describedby="i.desc.850478162 i.err.850478162"
                                       name="entry.270430022"
                                       value=""
                                       dir="auto"
                                       data-initial-dir="auto"
                                       data-initial-value="Например (067)-1234567"></div>
    </div>

    <div class="wrap_textarea  clear">
        <textarea data-rows="1" tabindex="0" aria-label="Ваш отзыв" required name="entry.326955045" dir="auto" data-initial-dir="auto" placeholder='Напишите здесь ваш отзыв о котле "Проскуров"'></textarea>
    </div>


    <div class="wrap_submit"><input type="submit" value="Отправить отзыв"/></div>

    <input type="hidden" name="fvv" value="1"><input type="hidden" name="draftResponse"
                                                     value="[[[null,665681292,[&quot;Например АОТВ-22&quot;] ,0] ,[null,326955045,[&quot;Пользуемся котлом уже ... года. Площадь помещения ... кв.м. (Далее ваш честный отзыв - экономичность, удобство, плюсы и минусы и так далее...)&quot;] ,0] ,[null,485428648,[&quot;Например Джон&quot;] ,0] ,[null,879531967,[&quot;vasha_pochta@mail.com&quot;] ,0] ,[null,270430022,[&quot;Например (067)-1234567&quot;] ,0] ] ,null,&quot;-1139248901746731423&quot;]"><input
        type="hidden" name="pageHistory" value="0"><input type="hidden" name="fbzx"
                                                          value="-1139248901746731423">
</form>
</section>