<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='http://kotel.co.ua/thanks';}"></iframe>
<form action="https://docs.google.com/forms/d/e/1FAIpQLSfQ7PeesM8N6LEPKgQMDrOOKVDx9dgxx787aqF_PKYV18ys9Q/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">



<!--<form action="https://docs.google.com/forms/d/e/1FAIpQLSfQ7PeesM8N6LEPKgQMDrOOKVDx9dgxx787aqF_PKYV18ys9Q/formResponse"
      method="POST" target="_self" id="mG61Hd">-->


    <div class="freebirdFormviewerViewFormCard exportFormCard">
        <div class="freebirdFormviewerViewAccentBanner freebirdAccentBackground"></div>
        <div class="freebirdFormviewerViewFormContent">
            <div class="freebirdFormviewerViewNoPadding">
                <div class="freebirdFormviewerViewHeaderHeader exportHeader">
                    <div class="freebirdFormviewerViewHeaderTitleRow">
                        <div class="freebirdFormviewerViewHeaderTitle exportFormTitle freebirdCustomFont" dir="auto"
                             role="heading" aria-level="1">Оставьте отзыв о котле "Проскуров"
                        </div>
                    </div>
                    <div class="freebirdFormviewerViewHeaderDescription" dir="auto">Мы будем рады вашим отзывам и идеям.
                        Они помогут нам стать ещё лучше. Заполните поля и нажмите синюю кнопку внизу для отправки
                    </div>
                    <div jsname="F0H8Yc" class="freebirdCommonViewSecurequizSecureQuizBannerContainer"></div>
                    <div class="freebirdFormviewerViewHeaderRequiredLegend" aria-hidden="true" dir="auto">* Required
                    </div>
                </div>
            </div>
            <div class="freebirdFormviewerViewItemList" role="list">
                <div class="freebirdFormviewerViewNumberedItemContainer">
                    <div role="listitem"
                         class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem"
                         jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,Dlbleb;O22p3e:e4JwSe,F0zejc;"
                         data-required="true" data-item-id="1675258574">
                        <div class="freebirdFormviewerViewItemsItemItemHeader">
                            <div class="freebirdFormviewerViewItemsItemItemTitleDescContainer">
                                <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                    <div class="freebirdFormviewerViewItemsItemItemTitle exportItemTitle freebirdCustomFont"
                                         dir="auto" role="heading" aria-level="2"
                                         aria-describedby="i.desc.1675258574 i3">Модель котла <span
                                            class="freebirdFormviewerViewItemsItemRequiredAsterisk"
                                            aria-label="Required question">*</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="freebirdFormviewerViewItemsTextItemWrapper">
                            <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput modeLight hasValue"
                                 jscontroller="pxq3x"
                                 jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow=""
                                 jsname="W85ice">
                                <div class="quantumWizTextinputPaperinputMainContent exportContent">
                                    <div class="quantumWizTextinputPaperinputContentArea exportContentArea">
                                        <div class="quantumWizTextinputPaperinputInputArea"><input type="text"
                                                                                                   class="quantumWizTextinputPaperinputInput exportInput"
                                                                                                   jsname="YPqjbf"
                                                                                                   autocomplete="off"
                                                                                                   tabindex="0"
                                                                                                   aria-label="Модель котла"
                                                                                                   aria-describedby="i.desc.1675258574 i.err.1675258574"
                                                                                                   name="entry.665681292"
                                                                                                   value="Например АОТВ-22"
                                                                                                   required=""
                                                                                                   dir="auto"
                                                                                                   data-initial-dir="auto"
                                                                                                   data-initial-value="Например АОТВ-22">
                                            <div jsname="LwH6nd"
                                                 class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your
                                                answer
                                            </div>
                                        </div>
                                        <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                        <div jsname="XmnwAc"
                                             class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
                                    </div>
                                </div>
                                <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                                    <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
                                </div>
                            </div>
                        </div>
                        <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1675258574"
                             role="alert"></div>
                    </div>
                </div>
                <div class="freebirdFormviewerViewNumberedItemContainer">
                    <div role="listitem"
                         class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem"
                         jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,Dlbleb;O22p3e:e4JwSe,F0zejc;"
                         data-required="true" data-item-id="1171436624">
                        <div class="freebirdFormviewerViewItemsItemItemHeader">
                            <div class="freebirdFormviewerViewItemsItemItemTitleDescContainer">
                                <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                    <div class="freebirdFormviewerViewItemsItemItemTitle exportItemTitle freebirdCustomFont"
                                         dir="auto" role="heading" aria-level="2"
                                         aria-describedby="i.desc.1171436624 i6">Ваш отзыв <span
                                            class="freebirdFormviewerViewItemsItemRequiredAsterisk"
                                            aria-label="Required question">*</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="quantumWizTextinputPapertextareaEl modeLight freebirdFormviewerViewItemsTextLongText freebirdThemedInput hasValue"
                             jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;"
                             jsshadow="" jsname="W85ice">
                            <div class="quantumWizTextinputPapertextareaMainContent exportContent">
                                <div class="quantumWizTextinputPapertextareaPlaceholder exportLabel" jsname="LwH6nd">
                                    Your answer
                                </div>
                                <div class="quantumWizTextinputPapertextareaContentArea exportContentArea"><textarea
                                        class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf"
                                        data-rows="1" tabindex="0" aria-label="Ваш отзыв" jscontroller="gZjhIf"
                                        jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" required=""
                                        name="entry.326955045" dir="auto" data-initial-dir="auto"
                                        data-initial-value="Пользуемся котлом уже ... года. Площадь помещения ... кв.м. (Далее ваш честный отзыв - экономичность, удобство, плюсы и минусы и так далее...)"
                                        aria-describedby="i.desc.1171436624 i.err.1171436624" style="height: 72px;">Пользуемся котлом уже ... года. Площадь помещения ... кв.м. (Далее ваш честный отзыв - экономичность, удобство, плюсы и минусы и так далее...)</textarea>
                                </div>
                                <div class="quantumWizTextinputPapertextareaUnderline exportUnderline"></div>
                                <div jsname="XmnwAc"
                                     class="quantumWizTextinputPapertextareaFocusUnderline exportFocusUnderline"></div>
                            </div>
                            <div class="quantumWizTextinputPapertextareaCounterErrorHolder">
                                <div jsname="ty6ygf" class="quantumWizTextinputPapertextareaHint exportHint"></div>
                            </div>
                        </div>
                        <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1171436624"
                             role="alert"></div>
                    </div>
                </div>
                <div class="freebirdFormviewerViewNumberedItemContainer">
                    <div role="listitem"
                         class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem"
                         jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,Dlbleb;O22p3e:e4JwSe,F0zejc;"
                         data-required="true" data-item-id="1401883316">
                        <div class="freebirdFormviewerViewItemsItemItemHeader">
                            <div class="freebirdFormviewerViewItemsItemItemTitleDescContainer">
                                <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                    <div class="freebirdFormviewerViewItemsItemItemTitle exportItemTitle freebirdCustomFont"
                                         dir="auto" role="heading" aria-level="2"
                                         aria-describedby="i.desc.1401883316 i9">Имя <span
                                            class="freebirdFormviewerViewItemsItemRequiredAsterisk"
                                            aria-label="Required question">*</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="freebirdFormviewerViewItemsTextItemWrapper">
                            <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput modeLight hasValue"
                                 jscontroller="pxq3x"
                                 jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow=""
                                 jsname="W85ice">
                                <div class="quantumWizTextinputPaperinputMainContent exportContent">
                                    <div class="quantumWizTextinputPaperinputContentArea exportContentArea">
                                        <div class="quantumWizTextinputPaperinputInputArea"><input type="text"
                                                                                                   class="quantumWizTextinputPaperinputInput exportInput"
                                                                                                   jsname="YPqjbf"
                                                                                                   autocomplete="off"
                                                                                                   tabindex="0"
                                                                                                   aria-label="Имя"
                                                                                                   aria-describedby="i.desc.1401883316 i.err.1401883316"
                                                                                                   name="entry.485428648"
                                                                                                   value="Например Джон"
                                                                                                   required=""
                                                                                                   dir="auto"
                                                                                                   data-initial-dir="auto"
                                                                                                   data-initial-value="Например Джон">
                                            <div jsname="LwH6nd"
                                                 class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your
                                                answer
                                            </div>
                                        </div>
                                        <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                        <div jsname="XmnwAc"
                                             class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
                                    </div>
                                </div>
                                <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                                    <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
                                </div>
                            </div>
                        </div>
                        <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1401883316"
                             role="alert"></div>
                    </div>
                </div>
                <div class="freebirdFormviewerViewNumberedItemContainer">
                    <div role="listitem"
                         class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem"
                         jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,Dlbleb;O22p3e:e4JwSe,F0zejc;"
                         data-item-id="172751659">
                        <div class="freebirdFormviewerViewItemsItemItemHeader">
                            <div class="freebirdFormviewerViewItemsItemItemTitleDescContainer">
                                <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                    <div class="freebirdFormviewerViewItemsItemItemTitle exportItemTitle freebirdCustomFont"
                                         dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.172751659">
                                        Адрес электронной почты (не обязательно)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="freebirdFormviewerViewItemsTextItemWrapper">
                            <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdFormviewerViewItemsTextEmail freebirdThemedInput modeLight hasValue"
                                 jscontroller="pxq3x"
                                 jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow=""
                                 jsname="W85ice">
                                <div class="quantumWizTextinputPaperinputMainContent exportContent">
                                    <div class="quantumWizTextinputPaperinputContentArea exportContentArea">
                                        <div class="quantumWizTextinputPaperinputInputArea"><input type="email"
                                                                                                   class="quantumWizTextinputPaperinputInput exportInput"
                                                                                                   jsname="YPqjbf"
                                                                                                   autocomplete="off"
                                                                                                   tabindex="0"
                                                                                                   aria-label="Адрес электронной почты (не обязательно)"
                                                                                                   aria-describedby="i.desc.172751659 i.err.172751659"
                                                                                                   name="entry.879531967"
                                                                                                   value="vasha_pochta@mail.com"
                                                                                                   dir="auto"
                                                                                                   data-initial-dir="auto"
                                                                                                   data-initial-value="vasha_pochta@mail.com">
                                            <div jsname="LwH6nd"
                                                 class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your
                                                answer
                                            </div>
                                        </div>
                                        <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                        <div jsname="XmnwAc"
                                             class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
                                    </div>
                                </div>
                                <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                                    <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
                                </div>
                            </div>
                        </div>
                        <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.172751659"
                             role="alert"></div>
                    </div>
                </div>
                <div class="freebirdFormviewerViewNumberedItemContainer">
                    <div role="listitem"
                         class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem"
                         jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,Dlbleb;O22p3e:e4JwSe,F0zejc;"
                         data-item-id="850478162">
                        <div class="freebirdFormviewerViewItemsItemItemHeader">
                            <div class="freebirdFormviewerViewItemsItemItemTitleDescContainer">
                                <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                    <div class="freebirdFormviewerViewItemsItemItemTitle exportItemTitle freebirdCustomFont"
                                         dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.850478162">
                                        Телефон (не обязательно)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="freebirdFormviewerViewItemsTextItemWrapper">
                            <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput modeLight hasValue"
                                 jscontroller="pxq3x"
                                 jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow=""
                                 jsname="W85ice">
                                <div class="quantumWizTextinputPaperinputMainContent exportContent">
                                    <div class="quantumWizTextinputPaperinputContentArea exportContentArea">
                                        <div class="quantumWizTextinputPaperinputInputArea"><input type="text"
                                                                                                   class="quantumWizTextinputPaperinputInput exportInput"
                                                                                                   jsname="YPqjbf"
                                                                                                   autocomplete="off"
                                                                                                   tabindex="0"
                                                                                                   aria-label="Телефон (не обязательно)"
                                                                                                   aria-describedby="i.desc.850478162 i.err.850478162"
                                                                                                   name="entry.270430022"
                                                                                                   value="Например (067)-1234567"
                                                                                                   dir="auto"
                                                                                                   data-initial-dir="auto"
                                                                                                   data-initial-value="Например (067)-1234567">
                                            <div jsname="LwH6nd"
                                                 class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your
                                                answer
                                            </div>
                                        </div>
                                        <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                        <div jsname="XmnwAc"
                                             class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
                                    </div>
                                </div>
                                <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                                    <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
                                </div>
                            </div>
                        </div>
                        <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.850478162"
                             role="alert"></div>
                    </div>
                </div>
            </div>
            <div class="freebirdFormviewerViewNavigationNavControls" jscontroller="lSvzH"
                 jsaction="rcuQ6b:npT2md;JIbuQc:Gl574d(QR6bsb),V3upec(GeGHKb),HiUbje(M2UYVd),NPBnCf(OCpkoe);"
                 data-shuffle-seed="-1139248901746731423" data-should-execute-invisible-captcha-challenge="false"
                 data-is-receipt-checked="false">
                <div class="freebirdFormviewerViewNavigationButtonsAndProgress">
                    <div class="freebirdFormviewerViewNavigationButtons">
                        <div role="button"
                             class="quantumWizButtonEl quantumWizButtonPaperbuttonEl quantumWizButtonPaperbuttonFlat quantumWizButtonPaperbuttonDark quantumWizButtonPaperbutton2El2 freebirdFormviewerViewNavigationSubmitButton"
                             jscontroller="VXdfxd"
                             jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;"
                             jsshadow="" jsname="M2UYVd" aria-disabled="false" tabindex="0">
                            <div class="quantumWizButtonPaperbuttonRipple exportInk" jsname="ksKsZd"></div>
                            <div class="quantumWizButtonPaperbuttonFocusOverlay exportOverlay"></div>
                            <span jsslot="" class="quantumWizButtonPaperbuttonContent"><span
                                    class="quantumWizButtonPaperbuttonLabel exportLabel">Submit</span></span></div>
                    </div>
                </div>
                <div class="freebirdFormviewerViewNavigationPasswordWarning">Never submit passwords through Google
                    Forms.
                </div>
            </div>
            <input type="hidden" name="fvv" value="1"><input type="hidden" name="draftResponse"
                                                             value="[[[null,665681292,[&quot;Например АОТВ-22&quot;] ,0] ,[null,326955045,[&quot;Пользуемся котлом уже ... года. Площадь помещения ... кв.м. (Далее ваш честный отзыв - экономичность, удобство, плюсы и минусы и так далее...)&quot;] ,0] ,[null,485428648,[&quot;Например Джон&quot;] ,0] ,[null,879531967,[&quot;vasha_pochta@mail.com&quot;] ,0] ,[null,270430022,[&quot;Например (067)-1234567&quot;] ,0] ] ,null,&quot;-1139248901746731423&quot;]"><input
                type="hidden" name="pageHistory" value="0"><input type="hidden" name="fbzx"
                                                                  value="-1139248901746731423"></div>
    </div>
</form>