@media only screen and (max-width: 1240px){
html,body {font-size: 1.5vw;}
}


@media only screen and (max-width: 768px) and (orientation: portrait){

.nav_primary {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.mobile_nav, #menuToggle {
  display: block;
  visibility: visible;
  opacity: 1;
}
header {
height: 80px;
}
  .production_grid {
display: flex;
flex-direction: column;


}
.production_item{
  max-width: 100vw;
margin: 6px 0;
  background-position: 15%;
padding: 0 10px;
a{
justify-content: flex-end;
align-items: center;
font-size: 2.2rem;
text-align: right;
min-height: 220px;
}
}
  .production_item:nth-child(odd){
    background-position: 85%;
    a{
      justify-content: flex-start;
text-align: left;
    }
    .prod_item_submenu_wrapper {
      justify-content: flex-end;
padding-right: 2rem;
    }
  }

.main_banner{
order: -1;
}


.callback_wrapper {
  flex-direction: column;

  div {
    padding: 1rem 0;
  }
}
.callback_ask p:last-child{
text-align: right;}
.callback_ask p:nth-child(2){
text-align: center;
}
}

/*
@media only screen and (min-width: 1280px) and (orientation: landscape){
.wrapper video {
height: 100%;
width: auto;
}}*/
