/*@media (min-width: 1240px){
html,body {font-size: 1.5vw;}
}*/

@media (min-width: 768px) and (max-width: 1025px){
  html,body {font-size: 1.5vw;}
}

@media (min-width: 481px) and (max-width: 767px) {

  html,body {font-size: 1.75vw;}
  #mobile_nav {
    font-size: 2rem;}
  .intro li, .intro>p{
    font-size: 1.5rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  html,body {font-size: 2.4vw;}
  #mobile_nav {
    font-size: 2rem;}
  .intro li, .intro>p{
    font-size: 1.4rem;
  }

}

@media (min-width: 768px) and (max-width: 1025px) and (orientation: portrait){

  .tverd_banner {
    -webkit-background-size: 80%;
    background-size: 85%;
  }

}


@media only screen and (max-width: 768px) and (orientation: portrait) {

  .nav_primary {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .mobile_nav, #menuToggle {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  header {
    height: 65px;
  }

  .hero  {
   h1{ padding-top: 18rem;
    img{
      width: 40%;
    }
   }
    h2{
      padding-top: 20rem;
    }
  }
  .production_grid {
    display: flex;
    flex-direction: column;

    .main_banner p {
      margin: 1rem auto;
    }
  }
  .production_item {
    max-width: 100vw;
    margin: 6px 0;
    background-position: 15%;
    padding: 0 10px;

    a {
      justify-content: flex-end;
      align-items: center;
      font-size: 2.2rem;
      text-align: right;
      min-height: 220px;
    }
  }
  .production_item:nth-child(odd) {
    background-position: 85%;

    a {
      justify-content: flex-start;
      text-align: left;
    }

    .prod_item_submenu_wrapper {
      justify-content: flex-end;
      padding-right: 2rem;
    }
  }

  .production_item:last-child{
    background-position: 15%;
    a{
      justify-content: flex-end;
      text-align: right;
    }}

  .delivery_banner, .service_banner, .tverd_banner {
    -webkit-background-size: 45%;
    background-size: 45%;
  }
  .main_banner {
    order: -1;
  }


.callback_wrapper {
  flex-direction: column;

  div {
    padding: 1rem 0;
  }
}
.callback_ask p:last-child{
text-align: right;}
.callback_ask p:nth-child(2){
text-align: center;
}
  .intro img {
    width: 100%;
  }
  .footer_phone, .footer_mail {
    font-size: 1.1rem;}
  .subscribe_form input {
    line-height: 22px;}
  #popup__toggle {
    bottom: 100px;}
}




@media (max-aspect-ratio: 16/9){
.wrapper video {
  width: auto;
  height: 100%;
}}

@media (min-aspect-ratio: 16/9){
  .wrapper video {
    width: 100%;
    height: auto;
  }}

@media (max-width: 767px) and (orientation: portrait) {
  .wrapper video {
    display: none;
  }
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    background-size: 100%;
    z-index: -1;
    opacity: 0.8;
    background: url('images/kotly-proskurov-home-bg.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
