$darkGrey: #0f0f0f;
$blue:#3399cc;
$orange:#ff6633;
$grey:#5E5E5E;
$greyer:#515151;
$darkblue:#003366;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700|Roboto:300,500,700|Roboto Slab:300,500,700&amp;subset=cyrillic');
@import "hamburger";
@import "mobile";

html, body{
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  color: $darkGrey;
  padding: 0;
  margin: 0;
  font-size: 16px;
  overflow-y: hidden;
}

h1 {
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
}

h5{
  font-family: "Roboto Slab", "Arial", sans-serif;
}

h2,h3,h4 {
  text-align: center;
line-height: 150%;
  font-family: "Roboto Slab", "Arial", sans-serif;
}

a {
  color: $blue ;
}
h1{
font-size: 4rem;
}

h2{
font-size: 3rem;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all .3s;
}

.clear:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.wrapper {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $blue;
  scroll-behavior: smooth;
}
.hero {
  position: relative;
  height: 100vh;
  font-size: 48px;
vertical-align: center;
h1{
padding-top: 10%;

span{
font-weight: 500;
  font-family: "Montserrat", "Arial", sans-serif;
}
img{
opacity: .7;
display: block;
margin: 0 auto;
width: 35%;
padding: 1rem 0;
}
}
h1,h2 {
margin: 0 auto;

  color:#fff;
}
}

.hero::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: 100%;
  z-index: -1;
opacity: 0.8;
  background: url('../images/ezgif.com-small.gif') center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#hero_logo{
text-align: center;
padding-top: 50px;
opacity: 0;
img {
width: 40%;
}
}
/* === Header CSS === */


header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: .3s all;
  ul,li {
  border: none;}

}

.mobile_nav {
  display: none;
}

ul, li, menu {
padding: 0;
margin: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
cursor: pointer;
}

.nav_primary{

  padding-top: .5rem;
}
#nav_primary, #nav_primary*{
transition: all .2s;
}

.header_inner {
  max-width: 1220px;
  display: flex;
  margin: 0 auto;
justify-content: space-between;

}

.logo{
  align-self: flex-start;
  max-width: 25%;
}

.logo a{
height: 100%;
display: block;
}

.logo img, .mobile_logo img {
width: 100%;
}

.main_menu {
  margin-left: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
padding-right: 1rem;

}

.main_menu:hover, .main_menu:hover li>ul{
  background-color: rgba(255,255,255,0.5);
}
.scrol{
  background-color: #fff;
  li a{
    color: black;
  }
}

header.scrol{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.scrol:hover,.scrol:hover li>ul{
  background-color: #fff;
}

.main_menu>li {
  position: relative;
  padding: 8px 1rem 7px;
}

.main_menu a
{
  color: white;
  transition: color 0.3s ease;
}

.main_menu a:hover, .prod_item_submenu_wrapper a:hover
{
  color: $orange;
}

.sub-menu>li{
  position: relative;
  padding: 8px .9rem 7px 0;
}

.sub-menu{
  visibility: hidden;
  opacity: 0;
  position: absolute;
top: 100%;
transition: all ease .3s;
padding-left: 1rem;
margin-left: -.5rem;
}

.header_wood .sub-menu, .header_gas .sub-menu{
left: 100%;
top:0;
}
.main_menu li:hover>.sub-menu{
  visibility: visible;
  opacity: 1;
  transition: all ease .3s;
}

/* === End of Header CSS === */

/* === Main CSS === */
main, footer {
width: 100%;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 6px rgba(0,0,0,0.6);
}

#mouse {
  position: absolute;
  width: 24px;
  height: 33px;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 13px;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
transition: opacity ease 0.8s;
i {
  animation: mouse 1.5s ease-in-out infinite alternate;
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 8px;
  left: 11px;
  top: 6px;
  background-color: rgba(255, 255, 255, 0.4);
}
}
@keyframes mouse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(7px);
  }
}

#production:before {
  display: block;
  content: " ";
  margin-top: 110px;
  height: 110px;
  visibility: hidden;
}


.main_wrapper, .footer_wrapper {
  max-width: 1220px;
  margin: 0 auto;
padding: 0 1rem;
}

.production_grid {

padding: 20px;
  display: grid;
grid-gap: 1rem;
  grid-template-rows: repeat(2, 1fr);
grid-template-columns: repeat(4, 1fr);
}

.production_item{
  position: relative;
box-shadow: 5px 6px 7px $grey ;
text-align: center;
vertical-align: bottom;
background: white no-repeat center;
  background-size: contain;
max-width: 280px;

}

.production_item>a{
display: flex;
align-items: flex-end;
justify-content: center;
  min-height: 270px;
padding: 20px;
color:$blue;
}

.production_item:hover > .prod_item_submenu_wrapper
{

  visibility: visible;
  opacity: 1;
z-index: 2;
}

.prod_item_submenu_wrapper {
  display: flex;
    visibility: hidden;
    opacity: 0;
z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  align-items: center;
justify-content: center;
  line-height: 1.5rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0.88) 76%, rgba(0, 0, 0, 0.89) 77%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  li {
    text-align-last: left;
    line-height: 3rem;
    a {
      color: #fff;
      transition: color 0.3s ease;
    }

  }
}



.main_banner{
grid-column: 2 / 4;
max-width: 800px;
display: flex;
flex-direction: column;
justify-content: space-around;
background-color: $orange;
color: #fff;
font-size: 3rem;
p{
margin: 10px;
}
}

.tverd_banner{
background-image: url("../images/main-tverd-boiler.jpg");
}

.gas_banner{
  background-image: url("../images/main-gas-boiler.jpg");
}
.el_banner{
  background-image: url("../images/main-el-bolier.jpg");
}

.pech_banner{
  background-image: url("../images/main-pech.jpg");
}

.delivery_banner{
  background-image: url("../images/main-dostavka.jpg");
}

.service_banner{
  background-image: url("../images/main-warranty.jpg");
}

.intro {
  font-size: 1.6rem;
padding: 1rem 0;
>p{
  font:  1.2rem "Roboto", "Arial", sans-serif;
  text-indent: 4rem;
font-weight: 300;
}
img {
margin: 1rem 0;
  box-shadow: 2px 0 8px rgba(0,0,0,0.7);
}
}

.intro p.intro_first_par {
  font-size: 1.4rem;
  text-align: center;
font-weight: 500;
}

.intro ul{
padding-left: 2rem;
}

.intro li{
  font:  1.2rem "Roboto", "Arial", sans-serif;
  list-style-type: disc;
  padding-bottom: .6rem;
font-weight: 300;
}


.callback::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: 100%;
  z-index: -2;
  background: url('../images/warm-house.jpg') center center no-repeat;
}

.callback {
  position: relative;
  height: 60vh;
/*  background-color:transparent;*/
}



.callback_wrapper{
  display: flex;
position: relative;
  background-color: transparent;
justify-content: space-between;

}

.callback_wrapper:before {
content: "";
position: absolute;
display: block;
background-color: #fff;
left: -40%;
height: 100%;
width: 1000%;
z-index: -1;
box-shadow: 2px 0 8px rgba(0,0,0,0.7);
}

.callback_wrapper>div{
padding: 4rem 0;
p{
margin: 0;
}
}

.callback_ask p{
font-size: 1.5rem;
line-height: 4rem;
}

.callback_now p{
  line-height: 4rem;
text-align: center;
&:first-child{
font-size: 1.7rem;


}
&:nth-child(2) {
font-size: 2rem;
background: $orange;
color: white;
border: 2px $orange solid;
  border-radius: 10px ;
}
  &:last-child {
font-size: 1.2rem;
line-height: 2rem;
}

}

.callback_form{
  flex-grow: .6;
}

.callback_form input{
width: 100%;
float: right;
line-height: 3rem;
margin-bottom: .5rem;
padding-left: 1rem;
  font-family: "Montserrat", "Arial", sans-serif;
font-size: 1rem;
}

.callback_form input[type="submit"]{
line-height: 4rem;
  background:$orange;
color: white;
  border:0 none;
  cursor:pointer;

  font-size: 1.5rem;

  -webkit-border-radius: 5px;
  border-radius: 10px;
margin-bottom: 0;
}

.feedback{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2vw;
}

.feedback_post_text{
  font: 1.1rem "Roboto", "Arial", sans-serif;
font-weight: 300;
}

.blog{
padding-bottom: 2rem;
}

.blog_header {
  background: url("../images/header_bg.svg") no-repeat left center;
  background-size: 400px auto;
  text-align: left;
  font-size: 2rem;
border-bottom: 2px solid $grey ;
  a {
    float: right;
font-size: 1.2rem;
font-weight: 500;
  }
}

.blog_post_header {
  font-size: 1.5rem;
  text-decoration: underline;

  span {
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 500;
  }
}
.article_header_bg{
float: left;
padding: 0 2rem;

}


.blog_post{
max-height: 20rem;
overflow: hidden;
border-bottom: 1px solid black;
p{
font-family: "Roboto", "Arial", sans-serif;
font-weight: 300;
font-size: 1.1rem;
}
}

.blog_post img{
float: left;
padding: 0 1rem 1rem 0;
max-width: 25%;
}

/* === End of Main CSS === */
/* === Footer CSS === */

footer{
background: $darkblue;
padding: 20px 0;
color: $blue;
}

.footer_wrapper {
  display: grid;
grid-template-columns: 1fr 1fr 2fr;
grid-gap: 1rem ;
}


.footer_logo img{
width: 80%;
}


.social li{
  display: inline-block;
a{
display: block;
height: 100%;
}
}

.footer_phone, .footer_mail {
padding-left: 15%;
font-size: 1.4rem;
margin: 4px 0;
display: inline-block;
position: relative;
}

.footer_phone:before{
   content: "";
   display: block;
   position: absolute;
   width: 12%;
   height: 100%;
   left: 0;
   top:4%;
   background: url(../images/icon-phone-40.png) no-repeat ;
   -webkit-background-size: contain;
   background-size: contain;
 }

.footer_mail:before{
  content: "";
  display: block;
  position: absolute;
  width: 12%;
  height: 100%;
  left: 0;
  top:4%;
  background: url(../images/icon-mail-40.png) no-repeat ;
  -webkit-background-size: contain;
  background-size: contain;
}



.footer_menu{
padding-left: 3rem;
li{
padding-bottom: 10px;
text-align: left;
}
}


.subscribe_form{
  position: relative;
}
.subscribe_form input{
  line-height: 50px;
width: 100%;
  font-size: 1.2rem;
padding-left: 2rem;
}

.footer_form p{
font-weight: 500;
}

.subscribe_form .subscribe{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 4px;
  right: 15px;
  background: url(../images/send_icon_sm.png) no-repeat center center;
background-size: contain;
  cursor: pointer;

}

.subscribe_form input[type="submit"]{
display: none;
}

.copy{
text-align: center;
font-size: .8rem;
font-weight: 300;
}



@import "media";







