<!DOCTYPE html>
<!--[if IE 9]>
<html class="no-js ie9 no_parallax" lang="ru-RU"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js no_parallax" lang="ru_RU"><!--<![endif]-->
{% include head.html %}
<script src="/js/jquery.slim.min.3.4.1.js"></script>
<body class="no_parallax">
{% include header.html %}
<div id="default_layout">
      <div class="default_content">
            {{ content }}
            <!--{% include analytics.html %}-->
      </div>
      {% include footer.html %}</div>
<script src="/js/mobmenu.js"></script>
</body>
</html>
